<% layout('layouts/boilerplate') %>

    <h1>
        <%= subject.title%>
    </h1>

    <% for (let i=0; i < parts.length; i++) { %>

        <% if (parts[i]._id.equals(part._id)) { %>
            <form action="/pola/subject/<%= parts[i]._id %>" method="POST">
                <div class="card mb-3" style="max-width: 840px;">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <input name="title" type="text" class="form-control" id="exampleFormControlInput1"
                                        value="<%= parts[i].title %>">
                                </h5>
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Enter
                                        Summary</label>
                                    <textarea name="summary" class="form-control" id="exampleFormControlTextarea1"
                                        rows="3"><%= parts[i].summary %></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary btn-sm">Sumbit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <% } else { %>
                <div class="card mb-3" style="max-width: 840px;">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><a href="/pola/subject/<%= parts[i]._id %>">
                                        <%= parts[i].title %>
                                    </a></h5>
                                <p class="card-text">
                                    <%= parts[i].summary %>
                                </p>

                                <form style="display: inline-block;" action="/pola/subject/<%= parts[i]._id%>/edit"
                                    style="width: fit-content;">
                                    <button type="submit" class="btn btn-warning btn-sm">Edit</button>
                                </form>

                                <form style="display: inline-block;"
                                    action="/pola/subject/<%= parts[i]._id %>?_method=DELETE" method="POST"
                                    style="width: fit-content;">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <% } %>

                    <% } %>