<h3>Table of Contents</h3>
<!-- Create a table of contents list using subContents collection. Create link to course/subContent._id -->
<!-- Create sub-lists based on the children of subContent. subContent children is nested up to 3 levels -->
<!-- If subContent has children then create a sub-list -->
<!-- If subContent.children has children then create a sub-sub-list -->
<!-- If subContent.children.children has children then create a sub-sub-sub-list -->
<!-- Sort the array with respect to index at each level-->
<p>
<ul>
    <% subContents.sort((a, b)=> a.index - b.index); %>
        <% for (let i=0; i < subContents.length; i++) { %>
            <li>
                <a href="/<%= subContents[i]._id %>/content">
                    <%= subContents[i].title %>
                </a>
                <% if (subContents[i].children) { %>
                    <ul>
                        <% subContents[i].children.sort((a, b)=> a.index - b.index); %>
                            <% for (let j=0; j < subContents[i].children.length; j++) { %>
                                <li>
                                    <a href="/<%= subContents[i].children[j]._id %>/content">
                                        <%= subContents[i].children[j].title %>
                                    </a>
                                    <% if (subContents[i].children[j].children) { %>
                                        <ul>
                                            <% subContents[i].children[j].children.sort((a, b)=> a.index - b.index); %>
                                                <% for (let k=0; k < subContents[i].children[j].children.length; k++) {
                                                    %>
                                                    <li>
                                                        <a
                                                            href="/<%= subContents[i].children[j].children[k]._id %>/content">
                                                            <%= subContents[i].children[j].children[k].title %>
                                                        </a>
                                                    </li>
                                                    <% } %>
                                        </ul>
                                        <% } %>
                                </li>
                                <% } %>
                    </ul>
                    <% } %>
            </li>
            <% } %>
</ul>
</p>