<% layout('layouts/boilerplate') %>

<div class="container-fluid">
    <!-- form to edit chapter and send it via post route -->

    <form action="/pola/subject/part/<%=chapter._id%>" method="POST">

        <div class="card mb-3" style="max-width: 840px;">

            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <input name="title" type="text" class="form-control" id="exampleFormControlInput1"
                                value="<%=chapter.title%>">
                        </h5>
                        <p class="card-text">
                            <textarea name="body" class="form-control" id="exampleFormControlTextarea1"
                                rows="3"><%=chapter.body%></textarea>
                        </p>


                        <button type="submit" class="btn btn-primary btn-sm">Edit Chapter</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Create a duplicate form same as below but using chapter.references array -->

        <h3>Added References</h3>
        <form action="/pola/subject/part/<%=chapter._id%>/removeRef" method="POST">
            <table class="table table-striped">
                <thead>
                 <tr>
                        <th scope="col">Select</th>
                     <th scope="col">Title</th>
                      <th scope="col">Authors</th>
                 </tr>
                </thead>
                <tbody>
                 <% for (let i=0; i < chapter.references.length; i++) { %>
                    <tr>
                        <th scope="row">
                            <input type="checkbox" name="references" value="<%=chapter.references[i]._id%>">
                        </th>
                        <td>
                            <%=chapter.references[i].title%>
                        </td>
                        <td>
                            <!-- join all strings in references[i].authors seperated by comma -->
                            <%=chapter.references[i].authors.join(' , ')%>
                                </td>
                            </tr>
                            <% } %>
                </tbody>
            </table>
                <button type="submit" class="btn btn-primary">Remove References</button>
        </form>

    <!-- Create a checkbox form for each element in references array. Display each field of each references element along with the corresponding checkbox as a separate row in a table within the form. -->
        <h3>All References</h3>
        <form action="/pola/subject/part/<%=chapter._id%>/addRef" method="POST">
            <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Select</th>
                            <th scope="col">Title</th>
                            <th scope="col">Authors</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i=0; i < references.length; i++) { %>
                            <tr>
                                <th scope="row">
                                    <input type="checkbox" name="references" value="<%=references[i]._id%>">
                                </th>
                                <td>
                                    <%=references[i].title%>
                                </td>
                                <td>
                                    <!-- join all strings in references[i].authors seperated by comma -->
                                    <%=references[i].authors.join(' , ')%>
                                 </td>
                            </tr>
                        <% } %>
                    </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Add References</button>
        </form>
        
</div>


