<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-md-9" style="padding-left: 0;margin-left: 0;">
            <!-- add link back to part, align left -->
            ⬅️<a href="/pola/subject/part/<%=chapter._id %>"> Back to Chapter <%=chapter.index+1%>:
                <%= chapter.title %></a>
        
    </div>
    <div class="col-md-3" style="padding-left: 0;margin-left: 0;">
            <% if (nextChapter) { %>
                <!-- span algin right -->
                ➡️<span>
                    <!-- add link to first chapter link. Name it chapter 1. align right -->
                    <a href="/pola/subject/part/<%=nextChapter._id %>">Go to Chapter <%=chapter.index+2%>:
                            <%=nextChapter.title%> </a>
                </span>
                <% } else {%>
                    <!-- if user is logged in and is admin -->
                    <% if (currentUser && currentUser._id.toString() == process.env.ADMIN_OID) { %>
                    <!-- form to create new chapter. create POST route to pola/subject/<part>/chapter -->
                    <form action="/pola/subject/<%=chapter.part%>/chapter" method="POST"
                        style="display: inline-block;">
                        <a href="#" onclick="parentNode.submit(); return false;"> ➕</a>
                        <input name="title" type="text" value="New Chapter">
                    </form>
                    <% } %>

                    <% }%>
    </div>
</div>
<hr>
    <h1>
       Exercises for <%=chapter.title%>
    </h1>

    <% let idx = 0;%>
    <!-- render all exercise -->
    <% for (let i=0; i < chapter.exercises.length; i++) { %>

        <div class="container-fluid mt-4">
            <% if (currentUser && currentUser._id.toString() == process.env.ADMIN_OID) { %>
            <!-- anchor tag to edit exercise route -->
            <a href="/pola/subject/part/chapter/<%= chapter.exercises[i]._id%>/editExercise"
                style="text-decoration: none;vertical-align: super;font-size: medium;">✏️</a>
            <!-- form to delete exercise -->
            <form style="display: inline-block;"
                action="/pola/subject/part/chapter/<%= chapter.exercises[i]._id%>/deleteExercise?_method=DELETE" method="POST">
                <!-- anchor tag that submits form on click -->
                <a href="#" onclick="parentNode.submit(); return false;"
                    style="text-decoration: none;vertical-align: super;font-size: medium;">🗑️</a>
            </form>
            i:<%=chapter.exercises[i].index%>
            <% } %>
        </div>
       <% if(chapter.exercises[i].problem)  { %>
        <p>
            <span><b><%=idx+1%>. </b></span><%- chapter.exercises[i].problem %>
        </p>
        <% idx = idx+1; %>
        <% } %>
        <!-- display figure in exercises -->
        <% if (chapter.exercises[i].figure) { %>
            <figure class="text-center">
            <img src="<%= chapter.exercises[i].figure %>" class="img-fluid" alt="..." width="200">
            </figure>
        <% } %>
        <div class="container-fluid">
            <% let letters = 'abcdefghijklmnopqrstuvwxyz'; %>
        <!-- display form if type is "MCQ" -->
        <% if (chapter.exercises[i].type == "MCQ") { %>
            <div class="card" style="background-color: #fdf1e2;">
                <div class="card-body">
                    <p><%- chapter.exercises[i].question%></p>
        <!-- display all options in a radio selection -->
            <% for (let j=0; j < chapter.exercises[i].options.length; j++) { %>
                <div class="form-check">
                <input class="form-check-input" type="radio" name="answer<%=i%>" id="flexRadioDefault_<%=i%>_<%=j%>" value="<%=j%>">
                <label class="form-check-label" for="flexRadioDefault_<%=i%>_<%=j%>">
                    (<%=letters[j]%>) <%= chapter.exercises[i].options[j] %>
                </label>
              </div>

            <% } %>
            <div class="container-fluid mt-2"></div>
                    <button type="button" class="btn btn-dark" id="button<%=i%>">Check</button>
                    <button class="btn btn-primary" id="explanation_<%=i%>" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_<%=i%>" aria-expanded="false" aria-controls="collapseExample" disabled>
                        Explanation
                      </button>
                      <span id="span_<%=i%>"></span>
                      <div class="collapse" id="collapseExample_<%=i%>">
                        <div class="card-body" style="background-color: #fdf1e2;">
                          <b>Solution Explanation:</b>
                          <p id="solution_explaination_<%=i%>">
                          </p>
                        </div>
                    </div>

                    </div>
        </div>
                      
            <!-- script to detect which option has been clicked on button press  -->
            <script>
                document.getElementById("button<%=i%>").addEventListener("click", function() {
                    let answer = document.querySelector('input[name="answer<%=i%>"]:checked').value;
                    // console.log(answer);
                    // console.log("<%=chapter.exercises[i].answer%>");
                    // console.log(answer == "<%=chapter.exercises[i].answer%>");

                    // get correct answer by sending answer via post request to the /pola/subject/part/chapter/<%= chapter.exercises[i]._id%>/answer route
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/pola/subject/part/chapter/<%= chapter.exercises[i]._id%>/answer", true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.send(JSON.stringify({answer: answer}));

                    // wait for response
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            // convert response to json
                        var response = JSON.parse(xhr.responseText);
                        // console.log(response.isCorrect);
                        if (response.isCorrect) {
                            document.getElementById("span_<%=i%>").innerHTML = `
                                <div class="mt-2">    
                                <img src="https://dub06pap001files.storage.live.com/y4mZRGJmYe6yQdK_ELojzaRFxMsdpokR9o_0J2btBhdNYcsPMSN4nIkFMFxcFrK3paJwX8zOU9XNLMvLI5P5uFTPfu0G93mvN2X1e8wadfftr6sphZbSR7i7pB_Y-U7xyEHUPXzsNhtWEuYcLNOKo6sU4oxYI6Hy4lYbmFkHvW1XkHKUM34a_k2HTxY20vfipLl?width=256&height=254&cropmode=none" alt="tick mark" style="width: 20px;">
                                <b> Good job!</b></div>`;
                            } else {
                                document.getElementById("span_<%=i%>").innerHTML = `
                                <div class="mt-2">
                                <img src="https://dub06pap001files.storage.live.com/y4mr_gcvC0AdmEQstso-89jZZC4CiP_HSriNx_XyH315PtwDz_tUoHcKc4GmSIFhOqhe0FF0kG0u64Fo5sTc_WuaF6jbgbJv9OH_1d5bBpbtDTMsmNqYh9pfoadjbyME--y-hpTobG3XUwEBTxxAgrbBY7qMNFNZpwS8iLCp8hUEbbPCw5Fij_xLVyN71WWdVAN?width=256&height=253&cropmode=none" alt="cross mark" style="width: 20px;">
                                <b> Try again!</b></div>`;
                            }
                    //  remove disabled attribute from explanation button explaination_<%=i%>
                    document.getElementById("explanation_<%=i%>").removeAttribute("disabled");
                    // set innerHTML of solution_explaination_<%=i%> to answerExplaination key from server
                    document.getElementById("solution_explaination_<%=i%>").innerHTML = response.answerExplaination;
                    MathJax.typeset() // to render math equations
                        }
                    }
                });
            </script>
        <% } %>
        <!-- condition to display form if type is "MAQ" (multiple answer question)-->
        <% if (chapter.exercises[i].type == "MAQ") { %>
            <div class="card" style=" background-color: #fdf1e2;">
                <div class="card-body">
                    <p><%- chapter.exercises[i].question%></p>
        <!-- display all options in a checkbox selection form -->
        
            <% for (let j=0; j < chapter.exercises[i].options.length; j++) { %>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="answer<%=i%>" id="flexCheckDefault_<%=i%>_<%=j%>" value="<%=j%>">
                <label class="form-check-label" for="flexCheckDefault_<%=i%>_<%=j%>">
                    (<%=letters[j]%>) <%= chapter.exercises[i].options[j] %>
                </label>
              </div>
            <% } %>
            <div class="container-fluid mt-2"></div>
            <button type="button" class="btn btn-dark" id="button<%=i%>">Check</button>
            <button class="btn btn-primary" id="explanation_<%=i%>" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_<%=i%>" aria-expanded="false" aria-controls="collapseExample" disabled>
                Explanation
              </button>
              <span id="span_<%=i%>"></span>
              <div class="collapse" id="collapseExample_<%=i%>" style="background-color: #fdf1e2;">
                <div class="card-body">
                  <b>Solution Explanation:</b>
                  <p id="solution_explaination_<%=i%>">
                  </p>
                </div>
            </div>
            </div>
            </div>
              
        <!-- script to retrive all the checked answers upon button click. answers should be arranged in a array and post to /pola/subject/part/chapter/<%= chapter.exercises[i]._id%>/answer. Get response if answer was correct -->
        <script>
            document.getElementById("button<%=i%>").addEventListener("click", function() {
                let answer = document.querySelectorAll('input[name="answer<%=i%>"]:checked');
                let answerArray = [];
                for (let i=0; i < answer.length; i++) {
                    answerArray.push(answer[i].value);
                }
                // console.log(answerArray);
                // console.log("<%=chapter.exercises[i].answer%>");
                // console.log(answerArray == "<%=chapter.exercises[i].answer%>");

                // get correct answer by sending answer via post request to the /pola/subject/part/chapter/<%= chapter.exercises[i]._id%>/answer route
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/pola/subject/part/chapter/<%= chapter.exercises[i]._id%>/answer", true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({answer: answerArray}));

                // wait for response
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        // convert response to json
                        var response = JSON.parse(xhr.responseText);
                        // console.log(response.isCorrect);
                        if (response.isCorrect) {
                            document.getElementById("span_<%=i%>").innerHTML = `
                                <div class="mt-2">    
                                <img src="https://dub06pap001files.storage.live.com/y4mZRGJmYe6yQdK_ELojzaRFxMsdpokR9o_0J2btBhdNYcsPMSN4nIkFMFxcFrK3paJwX8zOU9XNLMvLI5P5uFTPfu0G93mvN2X1e8wadfftr6sphZbSR7i7pB_Y-U7xyEHUPXzsNhtWEuYcLNOKo6sU4oxYI6Hy4lYbmFkHvW1XkHKUM34a_k2HTxY20vfipLl?width=256&height=254&cropmode=none" alt="tick mark" style="width: 20px;">
                                <b> Good job!</b></div>`;
                            } else {
                                document.getElementById("span_<%=i%>").innerHTML = `
                                <div class="mt-2">
                                <img src="https://dub06pap001files.storage.live.com/y4mr_gcvC0AdmEQstso-89jZZC4CiP_HSriNx_XyH315PtwDz_tUoHcKc4GmSIFhOqhe0FF0kG0u64Fo5sTc_WuaF6jbgbJv9OH_1d5bBpbtDTMsmNqYh9pfoadjbyME--y-hpTobG3XUwEBTxxAgrbBY7qMNFNZpwS8iLCp8hUEbbPCw5Fij_xLVyN71WWdVAN?width=256&height=253&cropmode=none" alt="cross mark" style="width: 20px;">
                                <b> Try again!</b></div>`;
                            }
                    //  remove disabled attribute from explanation button explaination_<%=i%>
                    document.getElementById("explanation_<%=i%>").removeAttribute("disabled");
                    // set innerHTML of solution_explaination_<%=i%> to answerExplaination key from server
                    document.getElementById("solution_explaination_<%=i%>").innerHTML = response.answerExplaination;
                    MathJax.typeset() // to render math equations
                    }
                }
            });
        </script>
        
            <% } %> 


        <!-- condition to display form if type is "Numeric" -->
        <% if (chapter.exercises[i].type == "Numeric") { %>
        <!-- display input form for numeric answer -->
        
            <div class="card" style="background-color: #fdf1e2;">
                <div class="card-body">
                    <p><%- chapter.exercises[i].question%></p>
                    <div style="width: 15rem; display: inline-block;">
                        <input name="answer<%=i%>" type="number" class="form-control" id="exampleFormControlInput_<%=i%>" placeholder="Enter your answer" style="background-color: #fdf1e2;">
                    </div>
                    <div class="container-fluid mt-2"></div>
                    <button type="button" class="btn btn-dark" id="button<%=i%>">Check</button>
                    <button class="btn btn-primary" id="explanation_<%=i%>" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_<%=i%>" aria-expanded="false" aria-controls="collapseExample" disabled>
                        Explanation
                      </button>
                      <span id="span_<%=i%>"></span>
                      <div class="collapse" id="collapseExample_<%=i%>" style="background-color: #fdf1e2;">
                        <div class="card-body">
                          <b>Solution Explanation:</b>
                          <p id="solution_explaination_<%=i%>">
                          </p>
                        </div>
                    </div>
                </div>
            </div>
            
        
        <!--script to obtain numeric answer upon button submission and post it to /pola/subject/part/chapter/<%= chapter.exercises[i]._id%>/answer route and check if answer is correct  -->
        <script>
            document.getElementById("button<%=i%>").addEventListener("click", function() {
                let answer = document.querySelector('input[name="answer<%=i%>"]').value;
                // console.log(answer == "<%=chapter.exercises[i].answer%>");

                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/pola/subject/part/chapter/<%= chapter.exercises[i]._id%>/answer", true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({answer: answer}));

                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        // convert response to json
                        var response = JSON.parse(xhr.responseText);
                        // console.log(response.isCorrect);
                        if (response.isCorrect) {
                            document.getElementById("span_<%=i%>").innerHTML = `
                                <div class="mt-2">    
                                <img src="https://dub06pap001files.storage.live.com/y4mZRGJmYe6yQdK_ELojzaRFxMsdpokR9o_0J2btBhdNYcsPMSN4nIkFMFxcFrK3paJwX8zOU9XNLMvLI5P5uFTPfu0G93mvN2X1e8wadfftr6sphZbSR7i7pB_Y-U7xyEHUPXzsNhtWEuYcLNOKo6sU4oxYI6Hy4lYbmFkHvW1XkHKUM34a_k2HTxY20vfipLl?width=256&height=254&cropmode=none" alt="tick mark" style="width: 20px;">
                                <b> Good job!</b></div>`;
                            } else {
                                document.getElementById("span_<%=i%>").innerHTML = `
                                <div class="mt-2">
                                <img src="https://dub06pap001files.storage.live.com/y4mr_gcvC0AdmEQstso-89jZZC4CiP_HSriNx_XyH315PtwDz_tUoHcKc4GmSIFhOqhe0FF0kG0u64Fo5sTc_WuaF6jbgbJv9OH_1d5bBpbtDTMsmNqYh9pfoadjbyME--y-hpTobG3XUwEBTxxAgrbBY7qMNFNZpwS8iLCp8hUEbbPCw5Fij_xLVyN71WWdVAN?width=256&height=253&cropmode=none" alt="cross mark" style="width: 20px;">
                                <b> Try again!</b></div>`;
                            }
                    //  remove disabled attribute from explanation button explaination_<%=i%>
                    document.getElementById("explanation_<%=i%>").removeAttribute("disabled");
                    // set innerHTML of solution_explaination_<%=i%> to answerExplaination key from server
                    document.getElementById("solution_explaination_<%=i%>").innerHTML = response.answerExplaination;
                    MathJax.typeset() // to render math equations


                    }
                }
            });
        </script>

        <% } %>
    </div>
        <% } %>
        <br>
        <% if (currentUser && currentUser._id.toString() == process.env.ADMIN_OID) { %>
             <h2 id="addExerciseTitle">Add new exercise</h2>
                <!-- form to create new exercise. create POST route to pola/subject/part/<chapter>/exercise -->
                 <form action="/pola/subject/part/<%=chapter._id%>/exercises" method="POST">
                  <div class="card mb-3" style="max-width: 540px;">
                       <div class="row g-0">
                         <div class="container">
                                <div class="card-body">
                                  <button type="submit" class="btn btn-primary btn-sm">+
                                        Exercise</button>
                                       <!-- list selection for type input -->
                                       <select name="type" class="form-control" id="exampleFormControlSelect">
                                          <option>MCQ</option>
                                          <option>MAQ</option>
                                          <option>Numeric</option>
                                          <option>Short Answer</option>
                                            <option>Long Answer</option>
                                            <option>Table</option>
                                      </select>
                             </div>
                         </div>
                        </div>
                 </div>
                </form>
        <% } %>

<hr>
        <div class="row">
            <div class="col-md-9" style="padding-left: 0;margin-left: 0;">
                    <!-- add link back to part, align left -->
                    ⬅️<a href="/pola/subject/part/<%=chapter._id %>">Back to Chapter <%=chapter.index+1%>:
                         <%= chapter.title %></a>
                
            </div>
            <div class="col-md-3" style="padding-left: 0;margin-left: 0;">
                    <% if (nextChapter) { %>
                        <!-- span algin right -->
                        ➡️<span>
                            <!-- add link to first chapter link. Name it chapter 1. align right -->
                            <a href="/pola/subject/part/<%=nextChapter._id %>"> Go to Chapter <%=chapter.index+2%>:
                                    <%=nextChapter.title%> </a>
                        </span>
                        <% } else {%>
                            <!-- if user is logged in and is admin -->
                            <% if (currentUser && currentUser._id.toString() == process.env.ADMIN_OID) { %>
                            <!-- form to create new chapter. create POST route to pola/subject/<part>/chapter -->
                            <form action="/pola/subject/<%=chapter.part%>/chapter" method="POST"
                                style="display: inline-block;">
                                <a href="#" onclick="parentNode.submit(); return false;"> ➕</a>
                                <input name="title" type="text" value="New Chapter">
                            </form>
                            <% } %>
        
                            <% }%>
            </div>
        </div>



<!-- Add mathjax to render latex equations -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- initialize mathjax -->
<script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
    };
</script>

