<% layout('layouts/boilerplate') %>

    <h1>
        <%=chapter.index+1%>. <%=chapter.title%>
        <% if (currentUser && currentUser._id.toString() == process.env.ADMIN_OID) { %>
                <!-- anchor tag to edit chapter route -->
                <a href="/pola/subject/part/<%=chapter._id%>/edit"
                    style="text-decoration: none;font-size: medium; vertical-align: super;">✏️</a>
                <!-- form to delete chapter -->
                <form style="display: inline-block;" action="/pola/subject/part/<%=chapter._id%>?_method=DELETE"
                    method="POST">
                    <!-- anchor tag to submit the form on click -->
                    <a href="#" onclick="parentNode.submit(); return false;"
                        style="text-decoration: none;font-size: medium; vertical-align: super;">🗑️</a>
                </form>
                <% if (chapter.published) { %>
                    <span style="font-size: medium;vertical-align: super;">🟢</span>
                    <% } else { %>
                        <span style="font-size: medium;vertical-align: super;">🔴</span>
                <% } %>
                <% } %>
    </h1>

    <p>
        <%-chapter.body%>
    </p>

    <!-- render all section -->

    <% for (let i=0; i < sections.length; i++) { %>

        <h2 id="<%=sections[i]._id%>">
            <%= i+1 %>.
                <%= sections[i].title %>
                    <% if (currentUser && currentUser._id.toString() == process.env.ADMIN_OID) { %>
                    <!-- anchor tag to edit section route -->
                    <a href="/pola/subject/part/chapter/<%= sections[i]._id%>/edit"
                        style="text-decoration: none;vertical-align: super;font-size: medium;">✏️</a>
                    <!-- form to delete section -->
                    <form style="display: inline-block;"
                        action="/pola/subject/part/chapter/<%= sections[i]._id%>?_method=DELETE" method="POST">
                        <!-- anchor tag that submits form on click -->
                        <a href="#" onclick="parentNode.submit(); return false;"
                            style="text-decoration: none;vertical-align: super;font-size: medium;">🗑️</a>
                    </form>
                    <!-- display published status using big colored circles -->
                    <% if (sections[i].published) { %>
                        <span style="font-size: medium;vertical-align: super;">🟢</span>
                        <% } else { %>
                            <span style="font-size: medium;vertical-align: super;">🔴</span>
                    <% } %>
                    <% } %>
        </h2>
        <p>
            <% let bodyText = sections[i].body %>
            
            <!-- check if bodyText is null -->
            <% if (bodyText) { %>

            <!-- find all substrings '@' and replace it with '\' -->
            <% bodyText = bodyText.replace(/@/g, '\\') %>
            
            <!-- display the body -->
            <%- bodyText %>
            <% } %>
        </p>


        <% } %>
        <% if (currentUser && currentUser._id.toString() == process.env.ADMIN_OID) { %>
            <!-- form to create new section. create POST route to pola/subject/part/<chapter>/section -->
            <form action="/pola/subject/part/<%=chapter._id%>/section" method="POST">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="container">
                            <div class="card-body">
                                <button type="submit" class="btn btn-primary btn-sm">+
                                    Section</button>
                                <h5 class="card-title mt-3">
                                    <input name="title" type="text" class="form-control" id="exampleFormControlInput1"
                                        value="Title">
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <% } %>

           
            <!--<h2>References</h2>-->
             <!-- Display the list of chapter.references as an ordered list with each numeral displayed as [1],[2],[3],.. etc. for each reference display all the authors seperated by comma followed by a period then
            the title. Add the link to the reference separately.-->
            <!-- custom ol where each number is displayed between square brackets. For eg [1] item 1 [2] item 2 etc -->
            <ul style="list-style: none;padding-left: 0;">
                <% for (let i=0; i < chapter.references.length; i++) { %>
                    <li>
                        [<%=i+1%>] <% for (let j=0; j < chapter.references[i].authors.length; j++) { %>
                            <%=chapter.references[i].authors[j]%>
                                <% if (j<chapter.references[i].authors.length-1) { %>
                                    ,
                                    <% } %>
                                        <% } %>.
                                        <i><%=chapter.references[i].title%></i>
                                            (<a href="<%=chapter.references[i].link%>">
                                             link   
                                            </a>)
                    </li>
                    <% } %>
            </ul>

            <!-- add link back to part, align left -->
            <% if (chapter.index==0) { %>
                ⬅️<a href="<%=linkObject[1].link%>">
                    <%=linkObject[1].text%>
                </a>
                <% } else { %>
                    ⬅️<a href="/pola/subject/part/<%=previousChapter._id %>/exercises"> Exercises for Chapter <%=chapter.index%>:
                            <%= previousChapter.title %></a>
                    <% } %>
                        <br>
                        
                            <!-- span algin right -->
                            ➡️<span>
                                <!-- add link to first chapter link. Name it chapter 1. align right -->
                                <a href="/pola/subject/part/<%=chapter._id %>/exercises"> Exercises for Chapter <%=chapter.index+1%>:
                                        <%=chapter.title%> </a>
                            </span>



<!-- Add mathjax to render latex equations -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- initialize mathjax -->
<script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
    };
</script>

<!-- find all elements of class eqn-num and insert the current equation number as (i) -->
<script>
    const eqnNums = document.getElementsByClassName("eqn-num");
    for (let i = 0; i < eqnNums.length; i++) {
        // get the id of the equation
        const id = eqnNums[i].getAttribute("id");
        // insert an anchor tag in equation with the id as href
        eqnNums[i].innerHTML = `<a href="/pola/subject/part/<%=chapter._id%>#${id}" style="color:black;text-decoration:none;">(${i + 1})</a>`;
    }
</script>

<!-- find all elements of class fig-num and concatenate the current figure number as Fig i: -->
<script>
    const figNums = document.getElementsByClassName("fig-num");
    for (let i = 0; i < figNums.length; i++) {
        // get the id of the figure
        const id = figNums[i].getAttribute("id");
        // insert an anchor tag in figure with the id as href
        figNums[i].innerHTML = `<a href="/pola/subject/part/<%=chapter._id%>#${id}" style="color:black;">Fig ${i + 1}</a>`+figNums[i].innerHTML;
    }
</script>

