<% layout('layouts/boilerplate') %>

    <h1>
        <%=chapter.title%>
    </h1>

    <h2>Introduction</h2>
    <p>
        <%=chapter.body%>
    </p>

    <!-- anchor tag to edit chapter route -->
    <a href="/pola/subject/part/<%=chapter._id%>/edit">Edit</a>
    <!-- form to delete chapter -->
    <form style="display: inline-block;" action="/pola/subject/part/<%=chapter._id%>?_method=DELETE" method="POST">
        <!-- anchor tag to submit the form on click -->
        <a href="#" onclick="parentNode.submit(); return false;">Delete</a>
    </form>

    <!-- render all section -->

    <% for (let i=0; i < sections.length; i++) { %>

        <h2>
            <%= i+1 %>.
                <%= sections[i].title %>
        </h2>
        <p>
            <%= sections[i].body %>
        </p>
        <!-- anchor tag to edit section route -->
        <a href="/pola/subject/part/chapter/<%= sections[i]._id%>/edit">Edit</a>
        <!-- form to delete section -->
        <form style="display: inline-block;" action="/pola/subject/part/chapter/<%= sections[i]._id%>?_method=DELETE"
            method="POST">
            <!-- anchor tag that submits form on click -->
            <a href="#" onclick="parentNode.submit(); return false;">Delete</a>
        </form>
        <!-- form to delete section
            <form action="/pola/subject/part/chapter/<%= sections[i]._id%>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form> -->
        <% } %>

            <h2>Add Sections</h2>
            <!-- form to create new section. create POST route to pola/subject/part/<chapter>/section -->
            <form action="/pola/subject/part/<%=chapter._id%>/section" method="POST">
                <div class="card mb-3" style="max-width: 840px;">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <input name="title" type="text" class="form-control" id="exampleFormControlInput1"
                                        value="Title">
                                </h5>
                                <p class="card-text">
                                    <textarea name="body" class="form-control" id="exampleFormControlTextarea1"
                                        rows="3">Body</textarea>
                                </p>
                                <button type="submit" class="btn btn-primary btn-sm">Add Chapter</button>

                            </div>
                        </div>
                    </div>
                </div>
            </form>