<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vector Soup</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="https://onedrive.live.com/embed?resid=1ca1eb3abf73ac72%2117644&authkey=%21AEr4oAly99ucw_Q&width=814&height=622" >
        <!-- Set body font to Spectral. Import necessary stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral:400,400i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
       <!--  add computer modern font-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.18/katex.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/editorjs.css" />

</head>
<body class="d-flex">
    <%- include('../partials/navbar') %>
            <div class="row container-fluid full-screen" style="padding-left:0%; margin-left: 0%;padding-right: 0%;">
                <div class="col-xl-2 px-0 d-flex" style="margin-left: 0%;">
                    <div class="flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start tertiary-bg-color">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <% if (category.metaData.displayTOC) { %>
                            <div class="accordion-item" id="subjectNavigationAccordion">
                            <% } else { %>
                            <div class="accordion-item" id="subjectNavigationAccordion" style="display: none;">
                            <% } %>
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed tertiary-bg-color secondary-color" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                  Subject Navigation
                                </button>
                              </h2>
                              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <% if (category.metaData.displayTOC === true) { %>
                                        <%- include('../partials/toc') %>
                                    <% } %>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item" id="pageNavigationAccordian">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed tertiary-bg-color secondary-color" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                  Page Navigation
                                </button>
                              </h2>
                              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            
                              </div>
                            </div>

                            <div class="accordion-item" id="referencesAccordion">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed tertiary-bg-color secondary-color" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                  References
                                </button>
                              </h2>
                              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div style="margin-left: 20px; margin-right: 20px;padding-bottom: 20px;padding-top: 20px;">There are no references to display on this page.</div>
                                
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col d-flex flex-column mb-4 content-overflow scrollspy-example" style="padding-left: 3rem; padding-right: 3rem; overflow-y: auto; max-height: 100vh;" data-bs-spy="scroll" data-bs-target="#subtitle-list" data-bs-smooth-scroll="true" tabindex="0">
                    <main>
                        <div class="col pt-4">
                            <%- include('../partials/flash') %>
                            <%- body %>
                        </div>
                    </main>

                </div>
            </div>
            
        <%- include('../partials/footer') %>
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
            
</body>


</html>