<% layout('layouts/boilerplate') %>
    <div>
        <form action="/pola/<%= subject._id %>" method="POST">
            <div class="card mb-3" style="max-width: 840px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="<%= subject.image %>" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <input name="title" type="text" class="form-control" id="exampleFormControlInput1"
                                    value="<%= subject.title %>">
                            </h5>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Enter
                                    Summary</label>
                                <textarea name="summary" class="form-control" id="exampleFormControlTextarea1"
                                    rows="3"><%=subject.summary%></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Enter
                                    Body</label>
                                <textarea name="body" class="form-control" id="exampleFormControlTextarea1"
                                    rows="3"><%=subject.body%></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Image URL</label>
                                <input name="image" type="text" class="form-control" id="exampleFormControlInput1"
                                    value="<%= subject.image%>">
                            </div>
                            <!-- dropdown list of indices of all subjects with index of subject  as default value-->
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Index</label>
                                <select name="index" class="form-select" aria-label="Default select example">
                                    <!-- sort subjects along index -->
                                    <% subjects.sort((a, b)=> (a.index > b.index) ? 1 : -1) %>
                                        <% for (let i=0; i < subjects.length; i++) { %>
                                            <option value="<%= subjects[i].index %>" <% if
                                                (subjects[i].index==subject.index) { %> selected <% } %>><%=
                                                        subjects[i].index %>
                                            </option>
                                            <% } %>
                                </select>
                            </div>
                            <!-- create checkbox and set default state depending on published status -->
                             <!-- set to checked if published is true -->
                            <div class="form-check form-switch">
                                <% if(subject.published) { %>
                                <input class="form-check-input" name="published" type="checkbox" role="switch" id="publishCheck" value="true" checked>
                                <% } else { %>
                                    <input class="form-check-input" name="published" type="checkbox" role="switch" id="publishCheck" value="true">
                                <% } %>
                                <label class="form-check-label" for="publishCheck">Publish Status</label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm">Sumbit</button>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>