<% layout('layouts/boilerplate_wo_sidebar') %>
<%- include('../partials/banner') %>

<h2 class="apply-font-bold tertiary-color">Soup </h2>

<!-- for loop to display all blogs -->
<% for (let i=0; i < blogs.length; i++) { %>
<div class="container-fluid ms-1 mt-4">
  <h4 class="apply-font tertiary-color"><a href="/page/<%= blogs[i]._id %>" style="color: inherit;"><%= blogs[i].title %></a>
    <% if (currentUser && currentUser._id.toString() == process.env.ADMIN_OID) { %>
      <% if (blogs[i].published) { %>
          <span style="font-size: medium;">🟢</span>
          <% } else { %>
              <span style="font-size: medium;">🔴</span>
      <% } %>
      <% } %></h4>
  <p><%= blogs[i].created.toLocaleDateString(undefined, {
    day: 'numeric',
    month: 'long',
    year: 'numeric'
  }) %></p>

</div>
<% } %>

<% if (currentUser && currentUser._id.toString() == process.env.ADMIN_OID) { %>
<div class="container-fluid ms-1 mt-4">
  <form action="/blog" method="POST">
    <button type="submit" class="btn btn-primary btn-sm">New Soup</button>
  </form>
</div>
<% } %>

 <div style="height: 20px;"> </div>

<h2 class="apply-font-bold tertiary-color">Mains</h2>
<div class="container-fluid ms-1">
<% for(k=0;k< courses.length;k++){%>
<h3 class="apply-font-bold tertiary-color"><%= courses[k].title %></h3>

<% const subject_course = subjects.filter((subject) => subject.course.equals(courses[k]._id)); %>

    
      <div class="container-fluid mt-4"></div>
      <div class="row row-cols-1 row-cols-md-5 g-4">
        <% for (let i=0; i < subject_course.length; i++) { %>
          <div class="col" style="text-align: center;">
            <div class="image-container">
                           
                <% if (subject_course[i].published || (currentUser && currentUser._id.toString() == process.env.ADMIN_OID)) { %>
                  <a href="/mains/<%= subject_course[i]._id %>">
                    <img src="<%= subject_course[i].image %>" class="img-fluid allSides" alt="..." width="60%">
                  </a>
                <% } else { %>
                    <img src="<%= subject_course[i].image %>" class="img-fluid allSides" alt="..." width="60%">
                    <div class="overlay">
                     <div class="text">Coming Soon</div>
                    </div>
                  <% } %>
            </div>
            
            <h5 class="mt-2 apply-font tertiary-color"><%= subject_course[i].title %>
              <% if (currentUser && currentUser._id.toString() == process.env.ADMIN_OID) { %>
              <% if (subject_course[i].published) { %>
                  <span style="font-size: medium;">🟢</span>
                  <% } else { %>
                      <span style="font-size: medium;">🔴</span>
              <% } %>
              <% } %></h5>
          </div>
          

      <% } %>
    </div>
    <%}%>
    <div class="container-fluid mt-4"></div>
        <% if (currentUser && currentUser._id.toString() == process.env.ADMIN_OID) { %>
        <!-- copy the form to add new subject but style it as according to the current card style -->
        <form action="/mains/" method="POST">
        <div class=" mb-3 card" style="max-width: 540px;background-color:#fdf1e2 ;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://www.wolflair.com/wp-content/uploads/2017/01/placeholder.jpg"
                                    class="card-img-top" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    <input name="title" type="text" class="form-control" id="exampleFormControlInput1" value="Title">
                </h5>
                <p class="card-text"> 
                    <textarea name="summary" class="form-control" id="exampleFormControlTextarea1" rows="3">No summary yet</textarea>
                </p>
                <!-- add course from list -->
                <p class="card-text"> 
                    <select name="course" class="form-select" aria-label="Default select example">
                        <option selected>Select course</option>
                        <% for (let i=0; i < courses.length; i++) { %>
                            <option value="<%= courses[i]._id %>"><%= courses[i].title %></option>
                        <% } %>
                    </select>
                </p>
                  <p class="card-text">  <input name="image" type="text" class="form-control"
                    id="exampleFormControlInput2" placeholder="Image URL"></p>
                  <button type="submit" class="btn btn-primary btn-sm">Add Subject</button>
                </div>
              </div>
            </div>
            </div>
        </form>
        <% } %>
    </div>

    <div style="height: 20px;"> </div>

    <h2 class="apply-font-bold tertiary-color"> Sides</h2>
    <!-- for loop to display all sidePages -->
  <% for (let i=0; i < sidePages.length; i++) { %>
  <div class="container-fluid ms-1 mt-4">
    <h4 class="apply-font tertiary-color"><a href="/page/<%= sidePages[i]._id %>" style="color: inherit;"><%= sidePages[i].title %></a>
      <% if (currentUser && currentUser._id.toString() == process.env.ADMIN_OID) { %>
        <% if (sidePages[i].published) { %>
            <span style="font-size: medium;">🟢</span>
            <% } else { %>
                <span style="font-size: medium;">🔴</span>
        <% } %>
        <% } %></h4>
    <p><%= sidePages[i].summary %></p>
  </div>
  <% } %>
  
  <% if (currentUser && currentUser._id.toString() == process.env.ADMIN_OID) { %>
  <div class="container-fluid ms-1 mt-4">
    <form action="/side" method="POST">
      <button type="submit" class="btn btn-primary btn-sm">New side</button>
    </form>
  </div>
  <% } %>
  
  <div style="height: 20px;"> </div>