<% layout('layouts/boilerplate') %>
    
    <img src="<%=subject.image%>" class="figure-img allSides" alt="..." width="30%" style="max-width: 300px;"><br>
    <h1 style="display: inline-block;">
        <%= subject.title%>
    </h1> 
    <% if (currentUser && currentUser._id.toString() == process.env.ADMIN_OID) { %>
    <a href="/pola/<%= subject._id%>/edit" style="text-decoration: none;">✏️</a>
    <form style="display: inline-block;" action="/pola/<%= subject._id %>?_method=DELETE" method="POST"
        style="width: fit-content;">
        <a href="#" onclick="parentNode.submit(); return false;" style="text-decoration: none;">🗑️</a>
    </form>
    <% if (subject.published) { %>
        <span style="font-size: medium;vertical-align: super;">🟢</span>
        <% } else { %>
            <span style="font-size: medium;vertical-align: super;">🔴</span>
    <% } %>
    <% } %>
    <div>
        <%- subject.body%>
    </div>
    <!-- sort parts according to index -->
    <% parts.sort((a, b)=> (a.index > b.index) ? 1 : -1) %>
        <% for (let i=0; i < parts.length; i++) { %>

            <h2>
                Part <%=parts[i].index+1%>: <%= parts[i].title %>
                <% if (currentUser && currentUser._id.toString() == process.env.ADMIN_OID) { %>
                <% if (parts[i].published) { %>
                    <span style="font-size: medium;vertical-align: super;">🟢</span>
                    <% } else { %>
                        <span style="font-size: medium;vertical-align: super;">🔴</span>
                <% } %>
                <% } %>
            </h2>
            
            <% if(parts[i].published || (currentUser && currentUser._id.toString() == process.env.ADMIN_OID)) { %>
            <p>
                <%= parts[i].summary %>
            </p>
            ➡️ <a href="subject/<%= parts[i]._id %>" >Go to <%=parts[i].title%></a>
            <% } else { %>
            <p>
                Coming soon...
            </p>
            <% } %>



            <% } %>
            <% if (currentUser && currentUser._id.toString() == process.env.ADMIN_OID) { %>
                <form action="/pola/<%=subject._id%>/part" method="POST">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="container">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-primary btn-sm">+Part</button>
                                    <h2 class="card-title mt-3">
                                        <input name="title" type="text" class="form-control"
                                            id="exampleFormControlInput1" value="Title">
                                    </h2>
                                    <textarea name="summary" class="form-control" id="exampleFormControlTextarea1"
                                        rows="3">No summary yet</textarea>

                                </div>
                            </div>
                        </div>
                </form>
            <% } %>