<% layout('layouts/boilerplate') %>
<%- include('../partials/banner') %>


<!------------------------Math Starter------------------------------------------------------------>
<h3 class="apply-font-bold tertiary-color">Math Starter</h3>
<div class="container-fluid ms-1">
  <div class="row row-cols-2 row-cols-md-6 g-4">
    <% for (let i=0; i < starters.length; i++) { %>
      <div class="col" style="text-align: center;">
        <div class="image-container">
          <a href="/module?id=<%= starters[i]._id %>">
            <img src="<%= starters[i].metaData.thumbnail %>" class="img-fluid allSides" alt="..." width="60%">
          </a>
        </div>
        <h6 class="mt-2 apply-font tertiary-color"><%= starters[i].title %></h6>
      </div>
    <% } %>
  </div></div>


<!----------------------------------Mains---------------------------------------->
<div style="height: 20px;"> </div>
<h3 class="apply-font-bold tertiary-color">Mains</h3>
<div class="container-fluid ms-1">
<% for(k=0;k< categories.length;k++){%>
<h4 class="apply-font-bold tertiary-color"><%= categories[k].title %></h4>

<% const main_category = mains.filter((main) => main.category.equals(categories[k]._id)); %>
<div class="row row-cols-2 row-cols-md-6 g-4">
  <% for (let i=0; i < main_category.length; i++) { %>
    <div class="col" style="text-align: center;">
      <div class="image-container">
                     
      
            <a href="/module?id=<%= main_category[i]._id %>">
              <img src="<%= main_category[i].metaData.thumbnail %>" class="img-fluid allSides" alt="..." width="60%">
            </a>
         
      </div>
      
      <h6 class="mt-2 apply-font tertiary-color"><%= main_category[i].title %></h6>
    </div>
    

<% } %>
</div>
     
    <%}%>
</div>


