<% layout('layouts/boilerplate') %>
<%- include('../partials/banner') %>

<div class="container-fluid mt-4 pt-2">
<%
articles.sort((a, b) => {
  const dateA = new Date(articleCreateDates[articles.indexOf(a)]);
  const dateB = new Date(articleCreateDates[articles.indexOf(b)]);
  return dateB - dateA;
});
articleCreateDates.sort((a, b) => {
  const dateA = new Date(a);
  const dateB = new Date(b);
  return dateB - dateA;
});

%>
<% for(let i = 0; i < articles.length; i++) { %>
<a href="/module?id=<%=articles[i]._id %>" style="text-decoration: none; color: inherit;">
  <div class="article-summary">
    <div class="article-content">
      <h5 class="apply-font-bold article-title"><%= articles[i].title %></h5>
      <small class="apply-font"><%= articleCreateDates[i] %> &middot; Ashwin Sridhar</small>
      <p class="apply-font desktop-only" style="margin-top: 0.5rem;"><%= articles[i].metaData.summary %></p>
    </div>
    <div class="article-thumbnail">
      <img src="<%= articles[i].metaData.thumbnail %>" alt="Article Thumbnail" style="object-fit: cover;">
    </div>
  </div>
</a>
<hr style="margin-bottom: 40px;margin-top: 40px;">
<% } %>
</div>

<style>
  .article-summary {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
  }
  .article-thumbnail img {
    width: 150px;
    height: 150px;
    margin-left: 20px;
  }
  .desktop-only {
    display: none;
  }
  @media screen and (min-width: 601px) {
    .desktop-only {
      display: block;
    }
  }
  @media screen and (max-width: 600px) {
    .article-thumbnail img {
      width: 100px;
      height: 100px;
      margin-left: 15px;
    }
  }
</style>
